<div class="sidebar">
    <span class="close-btn" onclick="toggleSidebar()">&#x2715;</span>
    <a href="/cuentacorriente" class="btn">Comprobantes</a>
    <a href="/precios" class="btn">Precios y Artículos</a>
    <a href="/ofertas" class="btn">Nuestras Ofertas</a>
    <a href="/estado" class="btn">Seguimiento de Pedido</a>
</div>