/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-header {
    background-color: #1604bd;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en líneas en pantallas pequeñas */
}

.logo {
    flex: 0 0 auto; /* No crecer ni encoger */
    margin-right: 20px;
    height: 80px; /* Ajusta la altura del logo para pantallas más pequeñas */
}

.welcome-message {
    flex: 1;
    text-align: right;
    font-size: 1.2em;
    margin-top: 10px;
}

/* Estilo principal */
.main-content {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px; /* Limita el ancho máximo */
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    color: #333;
    text-align: center; /* Centrar el título en pantallas pequeñas */
}

/* Estilos para la tabla */
.movements-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Permitir scroll horizontal en pantallas pequeñas */
    display: block; /* Hace que la tabla sea adaptable */
}

.movements-table thead, .movements-table tbody {
    display: table;
    width: 100%;
}

.movements-table th, .movements-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 0.9em;
}

.movements-table th {
    background-color: #007bff;
    color: white;
}

.movements-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Paginación */
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.pagination-button:hover {
    background-color: #0056b3;
}

.pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        height: 60px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .welcome-message {
        text-align: left;
        font-size: 1em;
        margin-top: 0;
    }

    .movements-table {
        font-size: 0.8em;
    }

    .pagination-button {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}

@media (max-width: 576px) {
    .main-content {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    .movements-table th, .movements-table td {
        padding: 8px;
        font-size: 0.8em;
    }

    .pagination-button {
        padding: 6px 12px;
        font-size: 0.8em;
    }
}
